.intro {
  height: 100vh;
  width: 100%;
  margin: auto;
  background-color: #8f5545;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
}

.intro h1 {
  font-size: 8em;
  color: #fff;
}

.intro a {
  text-decoration: none;
  color: $grey-color-light;
}

.intro .btn {
  border-radius: 9px;
  color: #fff;
  font-size: 2em;
  padding: 10px 20px;
  border: solid #fff 1px;
  text-transform: uppercase;
  text-decoration: none;
  font-style: italic;

  &:hover {
    color:  $grey-color-dark;
    border: solid  $grey-color-dark 1px;
  }
}

.logo-section-home {
  img {
    padding: 3em;
    max-width: 144px;
    height: auto;
  }
}


.home {
  height: 100vh;
  width: 100%;
  margin: auto;
  background-color: #7B1B02;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
}

.home h1 {
  font-size: 5em;
  color: #FFD700;
}

.home a {
  text-decoration: none;
}

.home .btn {
  border-radius: 9px;
  color: #FFD700;
  font-size: 1em;
  font-weight: 100;
  padding: 10px 20px;
  border: solid #FFD700 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;

  &:hover {
    color:  $grey-color-light;
    border: solid  $grey-color-light 1px;
  }
}


@include media-query($on-palm) {
  .home h1 {
    font-size: 2em;
    color: #FFD700;
  }

  .intro h1 {
    font-size: 3em;
    color: #fff;
  }

  .intro .btn {
    font-size: 1em;
  }

  .home .btn {
    font-size: 1em;
  }

  .logo-section-home {
    img {
      padding: 3em;
      max-width: 62px;
      height: auto;
    }
  }
}
