.home {
  height: 100vh;
  width: 100%;
  margin: auto;
  background-color: #8f5545;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 0;

  img {
    max-width: 7rem;
    padding: 2rem;
  }
}
.home-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
}
.home h1 {
  font-size: 5em;
  color: #fff;
  margin: 0;
}

.home a {
  text-decoration: none;
}

.home .btn {
  border-radius: 9px;
  color: #fff;
  font-size: 1em;
  font-weight: 100;
  padding: .3rem .5rem;
  border: solid #fff 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;

  &:hover {
    color:  $grey-color-light;
    border: solid  $grey-color-light 1px;
  }
}

.home-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;

  p {
    font-size: 0.7rem;
    color: #fff;
    font-style: italic;
  }

  h5 {
    margin-bottom: 0;
  }

  a {
    color: #fff;
  }

  img {
    max-width: 3rem;
    padding: 0.5rem;
  }

}

@include media-query($on-palm) {
  .home h1 {
    font-size: 2.5em;
    padding: 1rem;
  }

  .home img {
    padding: 2rem;
    max-width: 4rem;
    height: auto;
  }

  .home .btn {
    font-size: 1em;
  }

  .home-bottom {

    p {
      font-size: 0.7rem;
      color: #fff;
      font-style: italic;
    }

    h5 {
      margin-bottom: 0;
    }

    a {
      color: #fff;
    }

    img {
      max-width: 2rem;
      padding: 0.2rem;
    }

  }
}

.veroveneziano {
  background-color: #8f5545;
}
