.home {
  height: 100vh;
  width: 100%;
  margin: auto;
  background-color: #00408b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 0;
}

.home-top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h1 {
    font-size: 5em;
    color: #fff;
    margin: 0;
    text-align: center;
  }

  h2 {
    color: #fff;
    text-align: center;
  }

  img {
    max-width: 5rem;
  }
}


.home-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  p {
    font-size: 0.7rem;
    color: #fff;
    font-style: italic;
  }

  h3 {
    color: #fff;
    text-align: center;
  }

  a {
    text-align: center;
  }
  img {
    max-width: 33%;
  }
}


@include media-query($on-palm) {
  .home h1 {
    font-size: 2.5em;
    padding: 1rem;
  }

  .home img {
    padding: 1rem;
    max-width: 4rem;
    height: auto;
  }

  .home .btn {
    font-size: 1em;
  }

  .home-bottom {
    position: relative;
    margin-bottom: 0px;

    p {
      font-size: 0.7rem;
      color: #fff;
      font-style: italic;
    }

    h3 {
      margin-bottom: 0;
      font-size: .7rem;
    }

    a {
      color: #fff;
    }

    img {
      max-width: 75%;
      padding: 0.2rem;
    }

  }
}
