---
layout: default
---

<article class="" itemscope itemtype="http://schema.org/BlogPosting">

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=257678751707830&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <header class="ph3-ns">
    <a class="f6 link dim pv2 mb2 dib white" href="/">
      <img src="/assets/img/veroveneziano/logo/veroVeneziano_logo_mini.svg" alt=""></a>

    <h1 class="f1-l">{{ page.title | escape }}</h1>
    <p class="pv1 pv3-ns">
      <time datetime="{{ page.date }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date_to_long_string }}
      </time>
    </p>
  </header>

  <div class="pv2 w-80-ns w-100 center" itemprop="articleBody">
    <a href="{{ page.image }}"><img src="{{ page.image }}" alt="image of veroveneziano card"></a>

    {{ content }}
  </div>

  <h3 class="f3-ns i">{{ page.description }}</h3>

  <a class="no-underline vv-blue bg-animate bg-white-80 hover-orange inline-flex items-center ma2 tc br2 pa2" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
    <svg class="dib h2 w2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M15.117 0H.883C.395 0 0 .395 0 .883v14.234c0 .488.395.883.883.883h7.663V9.804H6.46V7.39h2.086V5.607c0-2.066 1.262-3.19 3.106-3.19.883 0 1.642.064 1.863.094v2.16h-1.28c-1 0-1.195.476-1.195 1.176v1.54h2.39l-.31 2.416h-2.08V16h4.077c.488 0 .883-.395.883-.883V.883C16 .395 15.605 0 15.117 0" fill-rule="nonzero"/></svg>
    <span class="f6 ml3 pr2">Share</span>
  </a>

  <a class="no-underline vv-blue bg-animate bg-white-80 hover-orange inline-flex items-center ma2 tc br2 pa2" href="https://twitter.com/intent/tweet?text={{ page.title }}&hashtags=veroVeneziano,masstourists,venezia&url={{site.url}}{{ page.url }}&via={{site.author.twitter}}" rel="nofollow" target="_blank" title="Share on Twitter">
    <svg class="dib h2 w2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M16 3.038c-.59.26-1.22.437-1.885.517.677-.407 1.198-1.05 1.443-1.816-.634.375-1.337.648-2.085.795-.598-.638-1.45-1.036-2.396-1.036-1.812 0-3.282 1.468-3.282 3.28 0 .258.03.51.085.75C5.152 5.39 2.733 4.084 1.114 2.1.83 2.583.67 3.147.67 3.75c0 1.14.58 2.143 1.46 2.732-.538-.017-1.045-.165-1.487-.41v.04c0 1.59 1.13 2.918 2.633 3.22-.276.074-.566.114-.865.114-.21 0-.416-.02-.617-.058.418 1.304 1.63 2.253 3.067 2.28-1.124.88-2.54 1.404-4.077 1.404-.265 0-.526-.015-.783-.045 1.453.93 3.178 1.474 5.032 1.474 6.038 0 9.34-5 9.34-9.338 0-.143-.004-.284-.01-.425.64-.463 1.198-1.04 1.638-1.7z" fill-rule="nonzero"/></svg>
    <span class="f6 ml3 pr2">Tweet</span>
  </a>

  <div class="center pv5">
    {% if page.previous.url %}
    <div class="cf">
      <div class="fl w-100 w-50-ns pa2">
        <div class="bg-vv-brown pa1 br3 ph3">
          <p class="f3-ns lh-copy">&laquo; <a class="link underline white hover-orange" href="{{ page.previous.url }}">{{page.previous.title}}</a></p>
        </div>
      </div>
      {% endif %}
      {% if page.next.url %}
      <div class="fl w-100 w-50-ns pa2">
        <div class="bg-vv-brown pa1 br3 ph3">
          <p class="f3-ns lh-copy tr"><a class="link underline white hover-orange" href="{{page.next.url}}">{{page.next.title}}</a> &raquo;</p>
        </div>
      </div>
    </div>
    {% endif %}
  </div>







  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

</article>

{% include footer.html %}
